@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes fadeInSoft {
  0% { opacity: 0; transform: scale(1.04); }
  100% { opacity: 1; transform: scale(1); }
}

.animate-fadeInSoft {
  animation: fadeInSoft 1.2s ease-out forwards;
}
